In [1]:
43 + 60 + 16 + 41

160

In [2]:
43-60

-17

In [3]:
43/60

0.7166666666666667

we can use the double slash for integer division, where the result is rounded down to the nearest integer:

In [4]:
43//60

0

In [5]:
43*60

2580

Let's write an expression that calculates how many hours there are in 160 minutes:

In [6]:
160//60

2

Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [7]:
30 + 2 * 60

150

And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [11]:
(30 + 2) * 60

1920

## Variables
Just like with most programming languages, we can store values in variables, so we can use them later on. For example:

In [12]:
x = 43 + 60 + 16 + 41
x

160

In [13]:
y = x / 60
y

2.6666666666666665

In [14]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

# Name the variables meaningfully

In [27]:


total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [28]:
total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

## Exercise: Expressions in Python

Write an expression to add 30 and 20 and subtract 40

In [29]:
30+20-40

10

Write an expression to subtract 5 from 55 and divide the result by 10

In [31]:
(55-5)/10

5.0

Write an expression to multiply 6 with 10 and divide the result by 12

In [32]:
(6*10)/12

5.0

### Exercise: Variables in Python

What is the value of x where x = 3 + 2 * 2

In [33]:
x=3+2+2
x

7

What is the value of y where y = (3 + 2) * 2?

In [36]:
y = (3 + 2) * 2
y

10

What is the value of z where z = x + y?

In [37]:
 z = x + y
z

17